.admin-actions
	%a.btn.btn-primary.btn-sm{:href=>'/#{$this->request->controller}/edit/#{$team["Team"]["id"]}'}
		= __('Edit')
	%a.btn.btn-warning.btn-sm{:href=>'/#{$this->request->controller}/memberships/#{$team["Team"]["id"]}'}
		= __('Admin memberships')
	%a.btn.btn-success.btn-sm{:href=>'#sendInvitationsModal', :data-toggle=>'modal'}
		= __('Send invitations')

.modal.fade#sendInvitationsModal{:tabindex="-1", :role=>"dialog", :aria-labelledby=>"sendInvitationsModalLabel", :aria-hidden="true"}
	.modal-dialog
		.modal-content
			.modal-header
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				%h4.modal-title
					= __('Send invitations')
			.modal-body
				= $this->element('Teams/invitations_form')
			.modal-footer
				%button.btn.btn-default.cancel{:type="button", :data-dismiss="modal"}
					= __('Cancel')
				%button.btn.btn-primary.send-invitations{:type="button"}
					= __('Send invitations')
= $this->Html->script('Teams/admin_actions', array('block'=>'script'))
