.not-member-actions
	%a.btn.btn-success.request-join{:href=>'#requestJoinModal', :data-toggle=>'modal'}
		= __('Request join')

.modal.fade#requestJoinModal{:tabindex="-1", :role=>"dialog", :aria-labelledby=>"requestJoinModalLabel", :aria-hidden="true"}
	.modal-dialog
		.modal-content
			.modal-header
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				%h4.modal-title
					= __('Request invitation')
			.modal-body
				= $this->element('Teams/request_invitation_form')
			.modal-footer
				%button.btn.btn-default.cancel{:type="button", :data-dismiss="modal"}
					= __('Cancel')
				%button.btn.btn-primary.request-invitation{:type="button"}
					= __('Request invitation')

%script
	$(function(){
		$('#requestJoinModal').on('click', '.request-invitation', function(){
			$.post('/teams/requestJoin', {team_id:#{$team["Team"]["id"]}}).done(function(){
				$('.request-join').attr('disabled', 'disabled').text("#{__('Request sent')}");
				$('#requestJoinModal').modal('hide');
			});
		})
	});
