.row
	.span12
		%h2
			= __('Team Memberships')
		.teams.memberships
			- if(!empty($memberships))
				%table.table.table-hover
					%thead
						%tr
							%th
								= __('Player')
							%th
								= __('Approved')
							%th
								= __('Is admin?')
							%th
								= __('Is captain?')
					%tbody
						- foreach($memberships as $m)
							- if($m['Player']['id'] == $current_user['Player']['id'])
								%tr
									%td
										= $m['Player']['name']
									%td
										<div class="checkbox">
										<label>
										<input disabled data-attr="approved" data-player-id="#{$m['Player']['id']}" data-team-id="#{$m['Team']['id']}" type="checkbox" #{$m['TeamMembership']['approved'] ? 'checked="checked"' : ''}>
										</label>
										</div>
									%td
										<div class="checkbox">

										<label>
											<input disabled data-attr="is_admin" data-player-id="#{$m['Player']['id']}" data-team-id="#{$m['Team']['id']}" type="checkbox" #{$m['TeamMembership']['is_admin'] ? 'checked="checked"' : ''}>
										</label>
										</div>
									%td
										<div class="checkbox">
										<label>
										<input disabled data-attr="is_captain" data-player-id="#{$m['Player']['id']}" data-team-id="#{$m['Team']['id']}" type="checkbox" #{$m['TeamMembership']['is_captain'] ? 'checked="checked"' : ''}>
										</label>
										</div>
							- else
								%tr
									%td
										= $m['Player']['name']
									%td
										<div class="checkbox">
										<label>
										<input data-attr="approved" data-player-id="#{$m['Player']['id']}" data-team-id="#{$m['Team']['id']}" type="checkbox" #{$m['TeamMembership']['approved'] ? 'checked="checked"' : ''}>
										</label>
										</div>
									%td
										<div class="checkbox">

										<label>
											<input data-attr="is_admin" data-player-id="#{$m['Player']['id']}" data-team-id="#{$m['Team']['id']}" type="checkbox" #{$m['TeamMembership']['is_admin'] ? 'checked="checked"' : ''}>
										</label>
										</div>
									%td
										<div class="checkbox">
										<label>
										<input data-attr="is_captain" data-player-id="#{$m['Player']['id']}" data-team-id="#{$m['Team']['id']}" type="checkbox" #{$m['TeamMembership']['is_captain'] ? 'checked="checked"' : ''}>
										</label>
										</div>
= $this->Html->script('Teams/memberships', array('block'=>'script'))