-#= var_dump($team)
.row
	.span12
		.teams.view
			%h2
				= __('Team') . ' ' . $team['Team']['name']
			- if(!(empty($is_admin)))
				= $this->element('Teams/admin_actions')
			- else
				- if(empty($has_membership))
					-#= __('NO ES MIEMBRO')
					= $this->element('Teams/not_member_actions')
				- else
					-#= __('UD ES MIEMBRO DE ESTE EQUIPO')
			- if (!empty($team['TeamMembership']))
				%h3
					= __('Players') . ' ' . __('(%s)', count($team['TeamMembership']))
				- foreach ($team['TeamMembership'] as $teamMembership)
					-#= var_dump($teamMembership)
					.player.clearfix
						%a{:href=>'#{Router::url("/players/view/".$teamMembership["Player"]["id"])}'}
							.photo.pull-left
								- if($teamMembership["Player"]["photo"])
									-#= $this->Html->image($teamMembership["Player"]["photo"])
									%img.img-polaroid{:alt=>'', :src=>'#{$teamMembership["Player"]["photo"]}'}
								- else
									-#= $this->Html->image('otra.jpg')
									%img.img-polaroid{:alt=>'', :src=>'no.jpg'}
							.info.pull-left
								%dl.dl-horizontal
									%dt
										= __('Name')
									%dd
										= $teamMembership['Player']['name']
									%dt
										= __('Description')
									%dd
										= nl2br($teamMembership['Player']['description'])