.row
	.col-md-8
		.users.form
			= $this->Session->flash('auth')
			= $this->Form->create('User')
				%fieldset
					%legend
						= __('Please enter your username and password')
					= $this->Form->input('username');
					= $this->Form->input('password');
					= $this->Form->end(__('Login'))
	.col-md-4
		.social
			%a{:href=>'/auth/facebook'}
				%span.icon-facebook
				= __('Login with Facebook')